* { 
   font-family: Helvetica;
}

header {
    background-color: black;
    color: white;
    padding-top: 1px;
}

header h1 {
    position: relative;
    height: 16px;
    font-size: 40px;
}

nav {
    position: relative;
    background-color: yellow;
    color: black;
    height: 30px;
}

nav a {
    padding: 10px 5px;
    float: right;
    font-size: 20px;
}

nav a:hover {
    background-color: red;
    color: white;
}

footer p {
    text-align: right;
    font-size: 14px;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    border: 2px solid black;
    height: 150px;
    align-items: center;
    background-color: rgba(100%, 100%, 0%, 0.25);

}

#shrug {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}
#me {
    display: block;
    float: right;
    margin-left: 700px;
    margin-right: 20px;
    width: 25%;
    position: fixed;
}

.contact p{
    padding-left: 35px;
}
